QPushButton::hover{
    color : red;
    font-weight: bold;
}

QPushButton::pressed{
    
}

QPushButton{
    max-width : 20px;
    min-width : 20px;
    color : #444444;
    border : 20px;
    font-size: 12px;
    font-weight: normal;
}
